body {
  font-family: Arial, sans-serif;
  margin: 50px;
  position: relative; 
  height: 500px;      
}


.box {
  position: absolute;   
  width: 150px;
  height: 150px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 8px;
  opacity: 0.9;
}


.red {
  background-color: red;
  top: 50px;
  left: 50px;
  z-index: 1; 
}

.blue {
  background-color: blue;
  top: 100px;
  left: 100px;
  z-index: 2; 
}

.green {
  background-color: green;
  top: 150px;
  left: 150px;
  z-index: 3; 
}
